<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*"
			 Name="AppCommander"
			 Language="1033"
			 Version="1.0.0.0"
			 Manufacturer="Rudolf Mendzezof"
			 UpgradeCode="12345678-1234-1234-1234-123456789012">

		<Package InstallerVersion="500"
				 Compressed="yes"
				 InstallScope="perMachine"
				 Platform="x64"
				 Description="AppCommander - Automation tool for Windows applications" />

		<Media Id="1" Cabinet="AppCommander.cab" EmbedCab="yes" />
		<MajorUpgrade DowngradeErrorMessage="A newer version is already installed." />

		<!-- Hlavná feature -->
		<Feature Id="ProductFeature" Title="AppCommander" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<!-- Adresáre -->
	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="INSTALLFOLDER" Name="AppCommander" />
			</Directory>
		</Directory>
	</Fragment>

	<!-- Komponenty -->
	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">

			<!-- Hlavný exe -->
			<Component Id="MainExecutable" Guid="*" Win64="yes">
				<File Id="AppCommanderExe"
					  Source="..\AppCommander.W7-11.WPF\bin\Debug\AppCommander.exe"
					  KeyPath="yes" />
			</Component>

			<!-- Newtonsoft.Json DLL -->
			<Component Id="NewtonsoftJson" Guid="*" Win64="yes">
				<File Id="NewtonsoftJsonDll"
					  Source="..\AppCommander.W7-11.WPF\bin\Debug\Newtonsoft.Json.dll"
					  KeyPath="yes" />
			</Component>

			<!-- App.config ak existuje -->
			<Component Id="AppConfig" Guid="*" Win64="yes">
				<File Id="AppConfigFile"
					  Source="..\AppCommander.W7-11.WPF\bin\Debug\AppCommander.exe.config"
					  KeyPath="yes" />
			</Component>

		</ComponentGroup>
	</Fragment>
</Wix>
